<div class="admin-dashboard">
    <h1>Panel de Notificaciones</h1>
    
    <!--div class="buttons-container">
      <button routerLink="/main/create-user">👤 Crear Usuario</button>
      <button routerLink="/main/create-event">📅 Crear Evento</button>
      <button routerLink="/main/assign-guests">🎟️ Asignar Invitados</button>
      <button routerLink="/main/view-users">📋 Ver Usuarios</button>
    </div-->

    <!--button (click)="requestPermission()">Activar Notificaciones</button-->
  </div>
  